	body
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		margin: auto;
                font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	}
	progress:not([value])
	{
		/* Styling here */
	}
	.info, .success, .warning, .error, .validation
	{
		border: 1px solid;
		margin: 10px 0px;
		padding:15px 10px 15px 50px;
		background-repeat: no-repeat;
		background-position: 10px center;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	.info
	{
		color: #00529B;
		background-color: #BDE5F8;
		background-image: url('images/info.png');
	}
	.success
	{
		color: #4F8A10;
		background-color: #DFF2BF;
		background-image:url('images/success.png');
	}
	.warning
	{
		color: #9F6000;
		background-color: #FEEFB3;
		background-image: url('images/warning.png');
	}
	.error
	{
		color: #D8000C;
		background-color: #FFBABA;
		background-image: url('images/error.png');
	}
	.pageloading
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;		
	}
	html,
	body
	{
		height: 100%;
		background-color: #eee;
	}
	html,
	body,
	input,
	textarea,
	buttons
	{
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	}

	/**
	 * Layout CSS
	 */
	#header
	{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
		transition: left 0.6s;
	}
	#sidedrawer
	{
		position: fixed;
		top: 0;
		bottom: 0;
		width: 200px;
		left: -200px;
		overflow: auto;
		z-index: 2;
		background-color: #2f2f2f;
		color: #fff;
		transition: transform 0.6s;
	}
	#content-wrapper
	{
		min-height: 100%;
		overflow-x: hidden;
		margin-left: 0px;
		transition: margin-left 0.6s;

		/* sticky bottom */
		margin-bottom: -160px;
		padding-bottom: 50px;
	}
	#footer
	{
		height: 60px;
		margin-left: 0px;
		transition: margin-left 0.6s;
	}
	@media (min-width: 768px)
	{
		#header
		{
			left: 200px;
		}

		#sidedrawer
		{
			transform: translate(200px);
		}

		#content-wrapper
		{
			margin-left: auto !important;
			margin-right: auto !important;
			width: 60%;
		}

		#footer
		{
			margin-left: 0px;
		}

		body.hide-sidedrawer #header
		{
			left: 0;
		}

		body.hide-sidedrawer #sidedrawer
		{
			transform: translate(0px);
		}

		body.hide-sidedrawer #content-wrapper
		{
			margin-left: 0;
		}

		body.hide-sidedrawer #footer
		{
			margin-left: 0;
		}
	}

	/**
	 * Toggle Side drawer
	 */
	#sidedrawer.active
	{
		transform: translate(200px);
	}

	/**
	 * Header CSS
	 */
	.sidedrawer-toggle
	{
		color: #fff;
		cursor: pointer;
		font-size: 20px;
		line-height: 60px;
		margin-right: 10px;
	}
	.sidedrawer-toggle:hover
	{
		color: #fff;
		text-decoration: none;
	}

	/**
	 * Footer CSS
	 */
	#footer
	{
		background-color: #2196F3;
		color: #fff;
		margin: auto;
		position: fixed;
		bottom: 0px;
		width: 100%;
	}
	#footer a
	{
		color: #fff;
		text-decoration: underline;
	}
	/**
	 * Side drawer CSS
	 */
	#sidedrawer-brand
	{
		margin-left: auto;
		margin-right: auto;
		width: 109px;
		margin-top: 17px;
		margin-bottom: 17px;
	}
	#sidedrawer ul
	{
		list-style: none;
	}
	#sidedrawer > ul
	{
		padding-left: 0px;
	}
	#sidedrawer > ul > li:first-child
	{
		padding-top: 15px;
	}
	#sidedrawer strong
	{
		display: block;
		padding: 15px 0px;
		cursor: pointer;
		transition: background-color 0.6s;
	}
	#sidedrawer strong:hover
	{
		background-color: #606060;
		color: #ffffff;
	}
	.menu-active
	{
		background-color: #606060;
		color: #ffffff;
	}
	#sidedrawer strong + ul > li
	{
		padding: 6px 0px;
	}
	.regular-radio
	{
		display: none;
	}
	.regular-radio:checked + label:after
	{
		background: none repeat scroll 0 0 #fff;
		box-shadow:inset 0 0 0 2px rgb(255,255,255);
		border-radius: 50px 50px 50px 50px;
		content: " ";
		height: 20px;
		width:20px;
		position: absolute;
		left:25px;
		top:-5px;
		transition: background-color 0.6s;
	}
	.regular-radio:checked + label:before
	{
		background-color: #2196f3;
		transition: background-color 0.6s;
	}
	.regular-radio:focus + label:before
	{
		background-color: #2196f3;
		transition: background-color 0.6s;
	}
	.regular-radio + label:before
	{
		background-color:#a0a0a0;
		border-radius:15px;
		display: inline-block;
		position: relative;
		height:28px;
		width:50px;
		content: ' ';
		cursor: pointer;
		sor:pointer;
		transition: background-color 0.6s;
	}
	.regular-radio + label:after
	{
		background: none repeat scroll 0 0 #a0a0a0;
		border-radius: 50px 50px 50px 50px;
		border-color: #fff;
		content: " ";
		height: 20px;
		width: 20px;
		position: absolute;
		top: -5px;
		left: 4px;
		box-shadow:inset 0 0 0 2px rgb(255,255,255);
		transition: background-color 0.6s;
	}
	label
	{
		display: inline;
		position: relative;
		font-size: 19px;
		margin-left: 0px;
	}
	.block label
	{
		display: inline-block;
		width: 200px;
		padding-bottom: 10px;
	}
	input[type="text"]
	{
		margin: 0;
		font-family: sans-serif;
		font-size: 18px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		padding: 5px;
		border: solid 1px #c9c9c9;
		transition: border 0.3s;
	}
	input[type="text"]:focus
	{
		outline: none;
		border: solid 5px #2196f3;
	}
	input[type="password"]
	{
		margin: 0;
		font-family: sans-serif;
		font-size: 18px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		padding: 5px;
		border: solid 1px #c9c9c9;
		transition: border 0.3s;
	}
	input[type="password"]:focus
	{
		outline: none;
		border: solid 5px #2196f3;
	}
	input[type=submit]
	{
		padding:10px 25px; 
		font-size: 18px;
		background:#a0a0a0;
		border:0 none;
		cursor:pointer;
		-webkit-border-radius: 0px;
		border-radius: 0px; 
		transition: background 0.6s;
		color: #ffffff;
	}
	input[type="submit"]:hover
	{
		background:#2196f3;
	}
	.label-inline
	{
		margin-top: -32px;
		display: inline-flex;
		margin-left: 40px;
		margin-right: 40px;
	}
	.a-menu-item
	{
		padding: 15px 53px 14px;
	}
	.login-form {
	        background:#eee;
	        width: 321px;
		margin:4% auto 4% auto;
		padding: 20px;
		text-align: center;
		position: fixed;
		left: 0;
		right: 0;
	}
	.main
	{
		height: 100%;
		background: #2196F3;
	}
	.head
	{
		margin-top:10px	        
	}
	.head img
	{
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	        border-radius:50%;
	        -webkit-border-radius:50%;
	        -o-border-radius:50%;
	        -moz-border-radius:50%;
	        border:6px solid rgba(221, 218, 215, 0.23);
	}
	.loginmess
	{
		position: fixed;
		top: -100px;
		margin-left: auto;
		margin-right: auto;
		left: 31%;
		right: 31%;
		min-width: 321px;
	}
	.loading
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100px;
		height: 100px;
		background-color: #2196F3;
		border-radius: 50%;
	}  
	.loading:after
	{
		content: '';
		position: absolute;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		border: 0px solid #eee;
		transform: translate(-50%, -50%);
		animation: loading 1000ms ease-out forwards infinite;
	}
	@keyframes loading
	{
		0% {
			border: 0px solid #eee;
		}
		20% {
			border: 8px solid #eee;
			width: 0%;
			height: 0%;
		}
		100% {
			border: 8px solid #eee;
			width: 100%;
			height: 100%;
		}
	}
